/* Haalt die scrollbar weg */
* { /* Firefox */
    scrollbar-width: none;
}
::-webkit-scrollbar { /* Chrome */
    display: none;
}

body
{
    margin: 0;
    display: flex;
    flex-direction: column;
}

header
{
    background-image: url(../Images/137480.jpg);
    position: fixed; 
    top: 0; 
    width: 100%; 
}

main
{
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 130px;
}

h1
{
    margin: 0;
    color: #adadad;
}
hr
{
    color: #adadad;
}

footer
{
    height: 40px;
    background: #3E5AB7;
    justify-content: center;
}

footer > p {
    margin: unset;
}

section {

}

.menu
{
    float: right
}

.menu , .logo
{
    height: 80px;
    margin-right: 10px;
}

.bigImg
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 8px;
    height: 600px;
    box-shadow: 1px 1px 0 #3E5AB7 ,
                2px 2px 0 #3E5AB7 ,
                3px 3px 0 #3E5AB7 ,
                4px 4px 0 #3E5AB7 ,
                5px 5px 0 #3E5AB7 ,
                6px 6px 0 #3E5AB7 ;

}

.textimageleft
{
    height: 300px;
    float: left;
    margin: 10px;
    border-radius: 8px;
     box-shadow: 1px 1px 0 #3E5AB7 ,
                2px 2px 0 #3E5AB7 ,
                3px 3px 0 #3E5AB7 ,
                4px 4px 0 #3E5AB7 ,
                5px 5px 0 #3E5AB7 ,
                6px 6px 0 #3E5AB7 ;
}

.textimageright
{
    height: 300px;
    float: right;
    margin: 10px;
    border-radius: 8px;
     box-shadow: 1px 1px 0 #3E5AB7 ,
                 2px 2px 0 #3E5AB7 ,
                 3px 3px 0 #3E5AB7 ,
                 4px 4px 0 #3E5AB7 ,
                 5px 5px 0 #3E5AB7 ,
                 6px 6px 0 #3E5AB7 ;
}

p
{
    font-size: 20px;
}

.programma
{
    background-image: url(../Images/Background-opacity.jpg);
    padding: 50px;
}

.programmaImg
{
  margin-left: auto;
    margin-right: auto;
    display: block;
    height: 600px;
    border-radius: 8px;
     box-shadow: 1px 1px 0 #3E5AB7 ,
                 2px 2px 0 #3E5AB7 ,
                 3px 3px 0 #3E5AB7 ,
                 4px 4px 0 #3E5AB7 ,
                 5px 5px 0 #3E5AB7 ,
                 6px 6px 0 #3E5AB7 ;
}