 select {
    background-color: #315AB7;
    border: 0;
    padding: 5px;
    color: white;
    min-width: 150px;
    font-size: 1em;
}

table * {
    border: 0;
    padding: 10px 30px;
}

table {
    border-color: rgba(0,0,0,0.2)
}

    table tr:nth-child(odd) {
        background-color: rgba(0,0,0,0.1);
    }

    table tr:first-of-type {
        background-color: #315AB7;
        color: white;
    }
